

.header {
    height: 68px;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    position: sticky;
    z-index: 30;
    font-size: 0;
}

.header__container {
    display: table;
    width: 100%;
    overflow: auto;
}

.header__right {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: right;
}


.header-menu__username {
    display: inline-block;
    height: 100%;
    padding: 0 18px;
    font-size: 15px;
    line-height: 68px;
    vertical-align: middle;
    text-decoration: none;
}

.header-menu-dropdown {
    cursor: pointer;
    position: relative;
}

.header-menu-dropdown__right {
    left: auto;
    right: 0;
}
